<launch>
    <!-- <include file="$(find vins)/launch/vins_rviz.launch" /> -->

    <arg name="config_file" value="zedm.yaml" />
    <arg name="config" value="$(find vins)/../config/zed/$(arg config_file)" />

    <node name="vins_estimator" pkg="vins" type="vins_node" output="screen" args="$(arg config) " />
    <!-- <node name="loop_fusion" pkg="loop_fusion" type="loop_fusion_node" output="screen" args="$(arg config) " /> -->


</launch>
